# Python interpreter cache files
__pycache__/

# Cache directories
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/

# Test results
/junit/

# Code coverage data
.coverage
coverage.xml

# MacOS-generate temporary files
.DS_Store
